/* src/components/Header/Header.css */
.header{
  color: aquamarine;
}
.nav-item{
  transition: all 0.3s;
}
.nav-item:hover{
   transform: translateY(-3px);
  
   background-color: antiquewhite;
}
.nav-item{
  margin-left: 10px;
  background-color: rgba(173, 218, 214, 0.363);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15PX;

}
.music-header {
  background: rgba(176, 87, 87, 0.719);
  backdrop-filter: blur(10px);
  color: black;
  position: sticky;
  top: 0;
  font-weight: 800;
  z-index: 1000;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar-brand img{
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
  border-radius: 50%;
  
}